<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="{% url 'index' %}"><span style="color:red">Ya</span>tube</a>
  <nav class="my-2 my-md-0 mr-md-3">
    {% if request.user.is_authenticated %}
    User: {{ request.user.username }}
    <a class="btn btn-sm text-muted" href="{% url 'new_post' %}">New post</a>
    <a class="btn btn-sm text-muted" href="{% url 'password_change' %}">Change the password</a>
    <a class="btn btn-sm text-muted" href="{% url 'logout' %}">Log out</a>
    {% else %}
    <a class="btn btn-sm text-muted" href="{% url 'login' %}">Log in</a> |
    <a class="btn btn-sm text-muted" href="{% url 'signup' %}">Sign up</a>
    {% endif %}
  </nav>
</nav>
