<div class="card">
  <div class="card-body">
    <div class="h2">
      {{ author.get_full_name }}
    </div>
    <div class="h3 text-muted">
      @{{ author.username }}
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="h6 text-muted">
        Followers: {{ author.following.count }} <br />
        Following: {{ author.follower.count }}
      </div>
    </li>
    <li class="list-group-item">
      <div class="h6 text-muted">
        Posts: {{ author.posts.count }}
      </div>
    </li>
  </ul>
</div>
<div class="container"><br>
  {% if request.user != author %}
    {% if following %}
      <a class="btn btn-lg btn-light" href="{% url 'profile_unfollow' author.username %}" role="button">Unfollow</a>
    {% else %}
      <a class="btn btn-lg btn-primary" href="{% url 'profile_follow' author.username %}" role="button">Follow</a>
    {% endif %}
  {% endif %}
</div>
