
{% extends "posts/base.html" %}
{% block title %}Об авторе{% endblock %}
{% block content %}
{% load static %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Об авторе проекта
              </div>
            </li>
            <li class="list-group-item">
              <div class="h8 text-muted"> Всем привет! Меня зовут Вика Коломиец и это моя страница:)
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p class="h6 mb-0 text-capital">Немного о себе и своем бэкграунде</p><br>
          <img src="{% static 'favor.jpg' %}" width="300px" height="230px" align="left" hspace="10" vspace="5" />
          <p class="mb-3" align="justify">После окончания университета я долгое время работала в hr-индустрии на должности Менеджера по подбору персонала. IT - сфера меня заинтересовала относительно недавно, а если точнее - во время декретного отпуска:)
            <p>Я всегда боялась IT - сферу и считала всех IT - специалистов математическими гениями. Первый, кто сподвиг меня на перемены в жизни был мой муж.
              У него очень интересная история) В свои 28 лет он решил уйти из банка, где работал менеджером и полностью сменить сферу деятельности, с головой уйдя в IT.
              Сейчас он работает на должности data scientist и весьма счастлив!)</p>
            Вот и я, вследом за ним, решила попробовать. Без его поддержки я, наверное, никогда бы не решилась. Но сейчас ни о чем не жалею и надеюсь, что у меня тоже все получится:)</p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
