
{% extends "posts/base.html" %}
{% block title %}About the author{% endblock %}
{% block content %}
{% load static %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                About the author
              </div>
            </li>
            <li class="list-group-item">
              <div class="h8 text-muted"> Hello everyone!:)
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p class="h6 mb-0 text-capital">About myself and my background</p><br>
          <img src="{% static 'img/avatar.jpeg' %}" width="200px" height="200px" align="left" hspace="10" vspace="5" />
          <p class="mb-3" align="justify">After graduating from university, I worked for a long time in the HR industry as a Recruitment Manager. I was interested in the IT field relatively recently, or to be more precise - during maternity leave :)
            <p>I have always been afraid of the IT field and considered all IT specialists mathematical geniuses. The first person who encouraged me to make changes in my life was my husband.
            He has a very interesting story) At the age of 28, he decided to leave the bank where he worked as a manager and completely change his field of activity.
            Now he works as a data scientist and is very happy!)</p>
            So I, following him, decided to try. Without his support, I probably would never have made up my mind. But now I don't regret anything and I hope that I will succeed too :)</p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
