{% extends "posts/base.html" %}
{% block title %}About the technologies{% endblock %}
{% block content %}
{% load user_filters %}
{% load static %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h5">
                About the technologies
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted" align="justify">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>I will not list all the software tools that I needed to create a mini-site backend, but I will still highlight one of them
            which is necessary, but was not obvious to me at first glance:
            <li><img src="{% static 'img/html.jpg' %}" width="60px" height="60px" align="left" hspace="10" vspace="5" />
              HTML, CSS - in my opinion, a basic understanding should be mandatory, I had to work hard and dive into the basics. Without knowledge at the initial level, the site will
              to put it mildly, ugly. I think javascript will also come in handy.
            </li>
          </p>
          <p>Among the tools that I had to use during the creation of the project, there are those that I will highlight
            among the others.
            <li><img src="{% static 'img/ya.png' %}" width="50px" height="50px" align="left" hspace="10" vspace="5" />The theory of Practicum is concise, but at the same time informative, holistic. Thanks to the team for the material.</li><br>
            <li><img src="{% static 'img/django.png' %}" width="60px" height="80px" align="left" hspace="10" vspace="10" />The second, but definitely not in importance, is the official Django documentation, where there are answers to all questions, but sometimes you have to suffer.
              because reading the documentation in the original is not the same as reading it in your native language. Questions often remain. And here I move on to the next point.</li><br>
            <li><img src="{% static 'img/stack.png' %}" width="80px" height="70px" align="left" hspace="10" vspace="5" />Stack Overflow - my irreplaceable assistant in debugging the project, I found the answer to almost all questions on this wonderful resource.</li><br>
            <br>
            <p>In general, I have identified one difficulty for myself - a huge, sometimes it seems, just an immense amount of information that you receive daily. Sometimes it seems that
            the head will explode. And the feeling that there is constantly not enough time. </p>
            Thanks to everyone who read :)
            </p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
